{#require: id, active, header, items, type, language, nofollow#}

<div
    class="list {% if active %}active{% else %}inactive{% endif %} loadable"
    id="{{ id }}"
    data-type="{{ type }}"
    {#".private_loadable_descriptor($id,array("where"=>$where,"order"=>$order))."#}
>
    <h1 class="items_header">
        <a
            {#href="{{ url(path, {#}
                {#_locale: _locale,#}
                {#is_desktop_version: is_desktop_version#}
            {#}) }}"#}
            {#onclick="switch_to_list($(this).parent().parent())"#}
        >
            {{ header }}
            <div
                class="item_corner"
                style="border-color:{{ random_color() }};"
            ></div>
        </a>
    </h1>
    <div class="items">
        {% include '@App/list/items.html.twig' with {
            items: items,
            type: type,
            language: language,
            nofollow: nofollow
        } %}
        <div class="af"></div>
    </div>
</div>
