<div id="preview">
    {{ random_page }}
    <div id="preview_background">
		<span>{{ "random-book-preview"|trans }}</span>
		<span class="italic">
			({{ book.author.name(language) }}, "{{ book.title(language) }}")
		</span>
    </div>
</div>

<div id=preview_mobile>
	<table class=book_read>
		{% for mobile_preview_row in mobile_preview_rows %}
			<tr>
				<td>
					{{ mobile_preview_row[0] }}
				</td>
				<td>
					{{ mobile_preview_row[1] }}
				</td>
			</tr>
		{% endfor %}
	</table>
</div>

{% set active = false %}
{% set nofollow = false %}

{# TODO: use "type" based on class of items #}
{# TODO: remove "id" #}
{% include "@App/list/list.html.twig" with {
	header: "items-header-authors"|trans,
	items: authors,
	type: "author",
	active: active,
	id: "authors",
	nofollow: nofollow
} %}

{% include "@App/list/list.html.twig" with {
	header: "items-header-sections"|trans,
	items: sections,
	type: "section",
	active: active,
	id: "sections",
	nofollow: nofollow
} %}

{% include "@App/list/list.html.twig" with {
	header: "items-header-books"|trans,
	items: parallangos,
	type: "parallango",
	active: active,
	id: "parallangos",
	nofollow: nofollow
} %}
