<div id="preview">
    {{ random_page.text|raw }}
    <div id="preview_background">
		<span>{{ "random-book-preview"|trans }}</span>
		<span class="italic">
			({{ book.author.name(language) }}, "{{ book.title(language) }}")
		</span>
    </div>
</div>

<div id="preview_mobile">
	<div id="parallango">
		<table>
			{% for mobile_preview_row in mobile_preview_rows %}
				<tr>
					<td>
						{{ mobile_preview_row[0] }}
					</td>
					<td>
						{{ mobile_preview_row[1] }}
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>

{% set active = false %}
{% set nofollow = false %}

{% include "@App/list/list.html.twig" with {list: authors_list} %}
{% include "@App/list/list.html.twig" with {list: sections_list} %}
{% include "@App/list/list.html.twig" with {list: parallangos_list} %}
