{% set route = app.request.get('_route') %}
{% set home = url('home', {
    _locale: language.code,
    is_desktop_version: is_desktop_version
}) %}
{# TODO: is locale needed here? #}

{# TODO: anti-parsing #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv=Content-Type content="text/html; charset=UTF-8" /> {# TODO: quotes? #}
        <base href="{{ home }}" />

        {% if not is_desktop_version %}
            <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
            <meta name="HandheldFriendly" content="true" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        {% endif %}

        {% for available_language in available_languages %}
            <link rel="alternate" hreflang="{{ language.code }}" href="{{ url(
                route,
                {
                    _locale: available_language.code,
                    is_desktop_version: is_desktop_version
                } + request_params
            ) }}">
        {% endfor %}

        <title>{% block title %}{{ title }}{% endblock %}</title>
        <meta name="keywords" content="{{ keywords }}">
        <meta name="description" content="{{ description }}">
        {% if robots %}
            <meta name="robots" content="{{ robots }}">
        {% endif %}
        <meta name="author" content="Oleksandr Boiko">

        {% block stylesheets %}
            {% for stylesheet in stylesheets %}
                <link href="{{ asset('css/' ~ stylesheet) }}" rel="stylesheet" type="text/css">
            {% endfor %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="body">
        <div id="main">
            <div id="toppannel">
                <table id="toppannel_center">
                    <tr>
                        <td>
                            <a id="logo" href="{{ home }}"></a>
                        </td>
                        <td>
                            <div id="alpha">[Alpha]</div>
                        </td>
                        <td>
                            <div id="infobox">
                                {% for c in 0..4 %}
                                    <div>
                                        <span>
                                            {{ ('infobox-' ~ c)|trans }}
                                        </span>
                                    </div>
                                {% endfor %}
                            </div>
                        </td>
                        <td>
                            <a id="full_version" href="{{ url(route, {
                                _locale: language.code,
                                is_desktop_version: true
                            } + request_params) }}">full version</a>
                        </td>
                        <td>
                            <div id="authorization">
                                <div id="authImgTab">
                                    {#{% image '@AppBundle/Resources/images/loading.gif' %}#}
                                        {#<img src="{{ asset_url }}" alt="loading.." />#}
                                    {#{% endimage %}#}
                                    <img id="loading_img" src="{{ asset('images/loading.gif') }}" alt="loading.." width="32px" height="32px"/>
                                </div>
                                <div id="authorization_front_table">
                                    <div id="authorization_front"></div>
                                </div>
                                <div id="authorization_back">
                                    {# TODO: authorization #}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div id="langs">
                                <div id="current_lang" class="lang {{ language.code }}">
                                    {#<img src="{{ path_static }}/images/{{ language.code }}.png" alt="{{ language.code }}">#}
                                    {#{% image '@AppBundle/Resources/images/' ~ language.code ~ '.png' %}#}
                                        {#<img src="{{ asset_url }}" alt="{{ language.code }}" />#}
                                    {#{% endimage %}#}
                                    <img src="{{ asset("images/" ~ language.code ~ ".png") }}" alt="{{ language.code }}"/>
                                </div>
                                {% for available_language in available_languages if available_language != language %}
                                    <a
                                        class="lang {{ available_language.code }}"
                                        href="{{ url(route, {
                                            _locale: available_language.code,
                                            is_desktop_version: is_desktop_version
                                        } + request_params) }}"
                                    >
                                        <img src="{{ asset("images/" ~ available_language.code ~ ".png") }}" alt="{{ available_language.code }}">
                                    </a>
                                {% endfor %}
                            </div>
                            <div id="feedback">
                                {%- trans %}feedback_button{% endtrans -%}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="page">
                <!-- <div id="background" class="gradient"></div> -->
                <div id="page_content"
                    {% if page_class is not null %}
                        class="{{ page_class }}"
                    {% endif %}
                >
                    {% block body %}
                        {% include 'AppBundle::' ~ view ~ '.html.twig' %}
                    {% endblock %}
                </div>
                <form id="feedback_form" method="POST" action="{{ url('feedback') }}">
                    <table>
                        <tr class="input">
                            <td>
                                <input name="email" type="text" placeholder="{{ "feedback-email-placeholder"|trans }}">
                            </td>
                        </tr>
                        <tr class="between"><td></td></tr>
                        <tr class="text">
                            <td>
                                <textarea name="text" placeholder="{{ "feedback-message-placeholder"|trans }}"></textarea>
                            </td>
                        </tr>
                        <tr class="between"><td></td></tr>
                        <tr class="input">
                            <td>
                                <input type="submit" value="ok">
                            </td>
                        </tr>
                    </table>
                    <div class="close"></div>
                </form>
                <form id="registration" action="{{ url('registration') }}" method=POST>
                    <table>
                        <tr>
                            <td>
                                <label for="login">
                                    {{ "registration-form-login"|trans }}
                                </label>
                            </td>
                            <td>
                                <input id="login" name="login">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="email">
                                    {{ "registration-form-email"|trans }}
                                </label>
                            </td>
                            <td>
                                <input id="email" name="email">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="password">
                                    {{ "registration-form-password"|trans }}
                                </label>
                            </td>
                            <td>
                                <input type=password name="password" id="password">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="password_confirmation">
                                    {{ "registration-form-password-confirmation"|trans }}
                                </label>
                            </td>
                            <td>
                                <input id="password_confirmation" type=password name="password_confirmation">
                            </td>
                        </tr>
                    </table>
                    <div class="close"></div>
                    <input type=submit value="ok">
                </form>
                <div id="message"><table><tr><td></td></tr></table></div>
                <div id="page_bottom"></div>
            </div>
        </div>
        <div id="screen_bottom"></div>
        {% block javascripts %}
            <script type="text/javascript">
                var languageCode = "{{ language.code }}";
            </script>
            <script type="text/javascript" src="{{ asset('js/jquery-2.1.0.js') }}"></script> {#TODO: use composer?#}
            <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
